body {
    margin: 0;
}
.container1 {
    background-color: #1f2937;
}
.toptext {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f9fafb;
}
.links {
    display: flex;
    font-size: 18px;
}
.links div {
    margin-left: 25px;
}
.logo {
    margin: 0;
    font-size: 24px;
}


.container2 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}
.sttplusimg {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.secondtoptext {
    color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}
.thumbsupimage {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
}
.imgthumb {
    border-radius: 10px;
}
.signup1 {
    color: #f9fafb;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
}
.title1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}
.subtext1 {
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 8px;
}
.subtext2 {
    font-size: 18px;
    margin-top: 6px;
}


.title2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}
.descriptioncontainer {
    display: flex;
    justify-content: center;

}
.description  {
    background-color: #1f2937;
    border-radius: 10px;
    border: 1px solid #1f2937;
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}
.img1 {
    border-radius: 10px;
}
.text1 {
    color: #f9fafb;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}